@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



select{
    width: 350px;
    outline: none;
    border: 1px solid #fff;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    cursor: pointer;
    text-align: center;
}

select:focus,
select:hover{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.329);
}




.dropdown-elements {
    width: 200px;
    outline: none;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px rgba(54, 190, 192, 0.15);
    cursor: pointer;
    text-align: center;
}
.dropdown {
    
    text-align: center;
}
.uni-element{
    display: flex;
    text-align: center;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex-direction: column;
    justify-content: center;
    
}
.uni-list{
list-style: none;
text-align: center;

display: inline-block;
}
.selection-button {
    
}